* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1366px;
}

.header {
    padding-top: 33px;
}


.slider {
    min-height: 700px;
    background-image: url(img/slider-img.jpg);
    position: relative;
    min-width: 600px;
    max-width: 1366px;
}

.pagitation {
    position: absolute;
    width: 1101px;
    bottom: 19px;
    text-align: center;
}

/*menu*/

.menu {
    float: right;

}

@media screen and (max-width:1300px) {
    .menu {
        margin-left: 350px;
        padding-left: 0px;
    }
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 13px;
    text-decoration: none;
}

.menu-link1 {
    text-decoration: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 13px;
    padding-top: 18px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.menu-link:hover {
    color: #000;
    background-color: #c7c7c7;
    border-bottom: 3px solid #000;
}

.menu-link1:hover {
    color: #000;
    background-color: #c7c7c7;
    border-bottom: 3px solid #000;
}

.menu-link:active {
    background-color: #bdbbbb;
}


/*text maina*/

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 58px;
    font-weight: 300;
    text-transform: uppercase;
}

.slider-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 485px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
    position: relative;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.55);
}

.button-arrow {
    width: 9px;
    height: 12px;
    margin-left: 10px;
    margin-top: 15.5px;
    position: absolute;
    display: none;
}

.button:hover .button-arrow {
    display: inline-block;
}

/*pagitation*/



.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #999999;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 0;
}

.circle-active:hover {
    background-color: #212121;
}

/*Padding/margin*/

.padding-site {
    padding-left: 98px;
    padding-right: 167px;
    padding-top: 64px;
}

/*product*/
.featured-product {
    background-color: white;
    height: 369px;
}

.tab-list {
    margin-top: 120px;
    margin-left: 107px;
    list-style-type: none;
}

.tab {
    display: inline-block;
    margin-right: 31px;
    float: left;
}

.tab-link {
    color: #6c6c6c;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration-line: underline 1px #6c6c6c;
}

.tab-link:hover {
    color: #212121;
}

.tab-link-active {
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration-line: underline 3px;
}

.btn-ghost {
    color: #6c6c6c;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-left: 714px;
    margin-top: 138px;
    text-decoration-line: none;
    user-select: none;
}

.btn-ghost:hover {
    color: #212121;
}

.product-list {
    margin-top: 50px;
    margin-left: 106px;
    list-style-type: none;
}

.product {
    display: inline-block;
    margin-right: 30px;
    float: left;
}

.fproduct-content {
    width: 270px;
    height: 270px;
}

.fproduct-hover {
    display: none;
    width: 270px;
    height: 270px;
    text-align: center;
}

.fproduct-content:hover .fproduct-hover {
    display: block;
    background-color: white;
}

.product-link {
    margin-top: 68px;
    display: inline-block;
    background-color: white;
    width: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fproduct-name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.fproduct-short-description {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

/*second slide*/

.promo-product {
    margin-top: 120px;
    height: 683px;
}

.promo-prod {
    position: relative;
    width: 683px;
    height: 683px;
    display: block;
    float: left;
}

.exclusive {
    position: absolute;
    margin-top: 228px;
    margin-left: 51px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.chair {
    position: absolute;
    margin-top: 259px;
    margin-left: 52px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.shortdesc {
    position: absolute;
    margin-top: 311px;
    margin-left: 50px;
    width: 374px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.promo-btn-product {
    width: 212px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    margin-left: 50px;
    margin-top: 389px;
    user-select: none;
    color: #212121;
    letter-spacing: 3.6px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.promo-btn-product:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.55);
}

.promo-btn-product-arrow {
    width: 9px;
    height: 12px;
    position: absolute;
    display: none;
    margin-left: 10px;
    margin-top: 5px;
}

.promo-btn-product:hover .promo-btn-product-arrow {
    display: inline-block;
}

/*product list 3*/

.trading-product {
    width: 1366px;
    height: 869px;
    margin-top: 120px;
}

.trading-title {
    margin-left: 98px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
    display: inline-block;
}

.trading-prod-list {
    list-style-type: none;
    margin-top: 64px;
    margin-left: 98px;
}

.trading-prod {
    float: left;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.trading-prod-content {
    width: 370px;
    height: 370px;
}

.trading-product-link {
    margin-top: 100px;
    display: inline-block;
    background-color: white;
    width: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.trading-prod-name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.trading-prod-shortdesc {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

.trading-prod-hover {
    display: none;
    width: 370px;
    height: 370px;
    text-align: center;
}

.trading-prod-content:hover .trading-prod-hover {
    background-color: white;
    display: block;
}

/*3 slider hotdeal*/

.hotdeal-slider {
    margin-top: 120px;
    background-image: url(img/slider.jpg);
    position: relative;
    height: 800px;
}

.hotdeal-mark {
    position: absolute;
    margin-top: 287px;
    margin-left: 99px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px
}

.hotdeal-name {
    position: absolute;
    margin-top: 322px;
    margin-left: 106px;
    font-family: 'Montserrat';
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.hotdeal-goods {
    position: absolute;
    margin-top: 399px;
    margin-left: 98px;
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.button-hotdeal-slider {
    width: 212px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 98px;
    margin-top: 469px;
    user-select: none;
    color: #212121;
    letter-spacing: 3.6px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.button-hotdeal-slider:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.55);
}

.button-hotdeal-slider-arrow {
    width: 9px;
    height: 12px;
    position: absolute;
    display: none;
    margin-left: 10px;
    margin-top: 5px;
}

.button-hotdeal-slider:hover .button-hotdeal-slider-arrow {
    display: inline-block;
}

.pagitation-hotdeal {
    position: absolute;
    width: 1366px;
    bottom: 19px;
    text-align: center;
}

/*4 slider*/
.exclusive-products {
    margin-top: 120px;
    margin-left: 98px;
    height: 570px;
}

.exclusive-main {
    height: 570px;
    width: 570px;
    margin-right: 30px;
    float: left;
}

.exclusive-prod-list {
    list-style-type: none;
    margin-top: 0px;
}

.exclusive-prod {
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    float: left;
}

.exclusive-prod-content {
    width: 270px;
    height: 270px;
}

.exprod-link {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    width: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.exprod-name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.exprod-short-desc {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

.exprod-hover {
    display: none;
    width: 270px;
    height: 270px;
    text-align: center;
}

.exclusive-prod-content:hover .exprod-hover {
    display: block;
    background-color: white;
}

/*footer*/
.mobile-app {
    margin-top: 120px;
    background-image: url(img/back-img.jpg);
    height: 516px;
    position: relative;
}

.mobileapp-mark {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 125px;
    margin-left: 99px;
}

.mobileapp-name {
    color: #212121;
    width: 450px;
    height: 116px;
    font-size: 50px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 160px;
    margin-left: 106px;
}

.mobileapp-short-desc {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    position: absolute;
    margin-top: 302px;
    margin-left: 99px;
}

.apps-list {
    list-style-type: none;
    position: absolute;
    margin-top: 356px;
    margin-left: 98px;
}

.apps {
    width: 135px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.footer {
    margin-top: 120px;
    margin-left: 106px;
    height: 214px;
    background-color: #f7f7f7;
    position: relative;
}

.footer-tabs-list {
    list-style-type: none;
    position: absolute;
}

.footer-tabs {
    display: inline-block;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-right: 190px;
}

.footer-contacts {
    color: #212121;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    position: absolute;
    height: 102px;
    widows: 221px;
    margin-top: 24px;
}

.footer-info-links {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.footer-info-links:hover {
    color: #000;
}

.footer-info1 {
    position: absolute;
    margin-top: 30px;
    margin-left: 330px;
}

.footer-info2 {
    position: absolute;
    margin-top: 30px;
    margin-left: 550px;
}

.footer-message {
    position: absolute;
    margin-top: 24px;
    margin-left: 770px;
    width: 363px;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.footer-enter-mail {
    position: absolute;
    margin-top: 90px;
    margin-left: 770px;
    height: 48px;
}

.footer-tabs2 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 100px;
    text-decoration: none;
    display: inline-block;

}

.footer-tabs-list2 {
    position: absolute;
    margin-top: 200px;
    list-style-type: none;

}

#forma {
    width: 370px;
    height: 44px;
    text-align: center;
    border: 1px solid #c7c7c7;
}

.footer input {
    border: none;
    outline: none;
}

#mail {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 19px;
    float: left;
    width: 290px;

}

.telegram {
    color: #6c6c6c;
    width: 21px;
    height: 17px;
    background-image: url(img/Ôç†.jpg);
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 14px;
}

@media screen and (max-width: 1300px) {
    .product {
        width: 40%;
    }
}

/*next page's*/
.header-fon {
    width: 1366px;
    height: 360px;
    background-color: #f5f5f5;
}

.block {
    height: 370px;
    display: block;
    margin-top: 71px;
}

.inner-block-main {
    display: inline-block;
    width: 370px;
    height: 370px;
    outline: 1px solid #9c9c9c;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    float: left;
    margin-right: 30px;
    margin-left: 98px;
}

.inner-block {
    display: inline-block;
    width: 370px;
    height: 370px;
    outline: 1px solid #9c9c9c;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    float: left;
    margin-right: 30px;

}

.icon {
    margin-left: 84px;
    margin-top: 48px;
    text-align: center;
    width: 38px;
    height: 48px;
}

.pclass {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;

}

.mail-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: darkslategrey;
    height: 40px;
    width: 240px;
}

.mail-submit {
    margin: 0;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    box-shadow: none;
    color: darkslategrey;
    background-color: white;
}

.title {
    color: #212121;
    font-size: 56px;
    font-weight: 100;
    line-height: 72px;
    margin-top: 168px;
    margin-left: 10px;
    height: 58px;
    font-family: 'Montserrat';

}

.refresh {
    width: 42px;
    height: 29px;
    display: block;
    padding-left: 672px;
    padding-top: 761px;
}

.nav-products {
    float: left;
}

@media screen and (max-width:1300px) {
    .menu {
        margin-left: 350px;
        padding-left: 0px;
    }
}

.header-products {
    padding-top: 115px;
    padding-left: 105px;
}

.nav-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.nav-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.nav-link:hover {
    color: #000;
    border-bottom: 3px solid #000;
}

.nav-link:active {
    background-color: #bdbbbb;
}

.header-product {
    height: 119px;
}

.detprod-slider {
    height: 641px;
    margin-top: 72px;
    float: left;
}

.detprod-main-image {
    width: 570px;
    height: 570px;
    margin-left: 98px;
    float: left;
}

.detprod-list {
    clear: both;
    margin-left: 248px;
    margin-top: 11px;
}

.dp-image {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    list-style-type: none;
}

.detprod-info {
    margin-left: 61px;
    margin-top: 119px;
    width: 500px;
    height: 500px;
    float: left;
}

.detprod-name {
    text-align: center;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.detprod-marks {
    font-size: 18px;
    font-weight: 700;
    line-height: 48.02px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
    text-align: center;
}

.detprod-price {
    color: #212121;
    font-size: 72px;
    font-weight: 300;
    text-align:center;
}

.detprod-desc {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.01px;
    letter-spacing: 0.4px;
}

.detprod-button-order {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 35px;
     background-color: #f44336;
    width: 510px;
    height: 71px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
    position: relative;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);

}

.detprod-button-order:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.55);
}

.detprod-button-order-arrow {
    width: 9px;
    height: 12px;
    margin-left: 10px;
    margin-top: 15.5px;
    position: absolute;
    display: none;
}

.detprod-button-order:hover .detprod-button-order-arrow {
    display: inline-block;
}

.related-prod {
    clear: both;
    height: 515px;
    padding-top: 245px;
}
.pardon {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
    letter-spacing: 4.4px;
}
